:root {
  --palette-lightest: #f5f7f9;
  --palette-lighter: #c7cbd1;
  --palette-light: #647080;
  --palette-default: #333e4d;
  --palette-dark: #1F2C3D;
  --palette-darker: #152237;
  --palette-darkest: #0e1725;
  background-color: var(--palette-darker);
  color: var(--palette-light) !important;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: end;
}

body {
  margin: 0 auto;
  width: 95%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
}

p {
  font-size: 1.1rem;
  margin: .25rem;
}

a:any-link {
  color: var(--palette-light) !important;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.joaopenteado.com/webfonts/open-sans-v17-latin-regular.eot');
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('https://static.joaopenteado.com/webfonts/open-sans-v17-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('https://static.joaopenteado.com/webfonts/open-sans-v17-latin-regular.woff2') format('woff2'),
    url('https://static.joaopenteado.com/webfonts/open-sans-v17-latin-regular.woff') format('woff'),
    url('https://static.joaopenteado.com/webfonts/open-sans-v17-latin-regular.ttf') format('truetype'),
    url('https://static.joaopenteado.com/webfonts/open-sans-v17-latin-regular.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.joaopenteado.com/webfonts/roboto-v20-latin-regular.eot');
  src: local('Roboto'), local('Roboto-Regular'),
    url('https://static.joaopenteado.com/webfonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    url('https://static.joaopenteado.com/webfonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('https://static.joaopenteado.com/webfonts/roboto-v20-latin-regular.woff') format('woff'),
    url('https://static.joaopenteado.com/webfonts/roboto-v20-latin-regular.ttf') format('truetype'),
    url('https://static.joaopenteado.com/webfonts/roboto-v20-latin-regular.svg#Roboto') format('svg');
}