<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <meta name="referrer" content="strict-origin-when-cross-origin">

  <!-- <meta http-equiv="content-security-policy" content="default-src 'self'"> -->

  <script type="text/javascript" src="http://livejs.com/live.js"></script>

  <title>{{page.title}} - {{ site.data.i18n[page.lang]._includes["head.html"].name }}</title>
  <meta name="description" content="The personal homepage of João Penteado.">
  <meta name="robots" content="index, follow, noimageindex">
  <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/static.joaopenteado.com/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/static.joaopenteado.com/images/icons/favicon-16x16.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

  {% assign path_len_m4 = page.url | size | minus: 4 %}
  {% assign path = page.url | slice: 4, path_len_m4 %}
  <link rel="alternate" href="{{ site.url }}/en/{{ path }}" hreflang="en">
  <link rel="alternate" href="{{ site.url }}/ja/{{ path }}" hreflang="ja">
  <link rel="alternate" href="{{ site.url }}/pt/{{ path }}" hreflang="pt">
  <link rel="alternate" href="{{ site.url }}/en/{{ path }}" hreflang="x-default">
</head>
