<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <title>João Penteado</title>
  <meta name="description" content="The everchanging personal homepage and internet profile index of João Penteado.">
  <meta name="robots" content="index, follow, noimageindex">
  <link rel="icon" type="image/png" sizes="32x32" href="https://storage.googleapis.com/static.joaopenteado.com/images/icons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://storage.googleapis.com/static.joaopenteado.com/images/icons/favicon-16x16.png">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="alternate" href="https://joaopenteado.com/en" hreflang="en">
  <link rel="alternate" href="https://joaopenteado.com/ja" hreflang="ja">
  <link rel="alternate" href="https://joaopenteado.com/pt" hreflang="pt">
  <link rel="alternate" href="https://joaopenteado.com/en" hreflang="x-default">
</head>
