@import "utils/functions";

footer {

    margin-top: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    nav a {
        user-select: none;

        &:not(:first-of-type) {
            margin-left: 1.25rem;
        }
    }
}
